<!DOCTYPE html>
<html>

	<body>

<h3>Add a User:</h3>
                <form action="/admin/deleted" method="get">
                        <input type="submit" value="Back to Home Page"/>
</body>
</html>
