<!DOCTYPE html>
<html>
        <head>
                <title>User Information</title>
                <meta charset= "utf=8" />
        </head>
        <body>
                        <h1>Edit user:</h1>
                                <form action="/admin/edit" method="get">
                                         password: <input type="text" name="password" /> <br/><br>
                                        full_name: <input type="text" name="full_name" /> <br/><br>
                                        <input type= "submit" value="Edit User"/>
                                </form>

        </body>
</html>
